<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2018 Automate The Planet Ltd.
Licensed under the Apache License, Version 2.0 (the "License");
You may not use this file except in compliance with the License.
You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<configuration>
  <!--
   Nunit-agent only runs under .NET 2.0 or higher. 
   The setting    useLegacyV2RuntimeActivationPolicy only applies 
   under .NET 4.0 and permits use of mixed mode assemblies, 
   which would otherwise not load correctly. 
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!--
     Nunit-agent is normally run by the console or gui
     runners and not independently. In normal usage, 
     the runner specifies which runtime should be used.
     
     Do NOT add any supportedRuntime elements here, 
     since they may prevent the runner from controlling 
     the runtime that is used!
    -->
  </startup>

  <runtime>
    <!-- Ensure that test exceptions don't crash NUnit -->
    <legacyUnhandledExceptionPolicy enabled="1" />

    <!-- Run partial trust V2 assemblies in full trust under .NET 4.0 -->
    <loadFromRemoteSources enabled="true" />

  </runtime>
  
</configuration>
